<div class="card-errors"></div>

<form class="form-group">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>">

  <input type="hidden" name="card[title]" value="no title">
  <input type="text" name="card[description]" id="card-description" class="form-control">

  <input type="submit" class="card-submit btn btn-primary pull-right" value="Create Card!">
</form>
