<form>
  <input type="text" name="board_membership[user_id]" value="user_id">
  <input type="text" name="board_membership[board_id]" value="board_id">
  <input type="Submit" class="submit-board-member">
</form>
