<form>
  <input type="text" name="board_membership[email]" value="user_email">
  <input type="hidden" name="board_membership[board_id]" value="<%= board.id %>">
  <input type="Submit" class="submit-board-member">
</form>

<div class="close-member-form">Close member form</div>
