<script>
$(function() {
  $( ".cards" ).sortable({
    stop: function(event, ul) {
      ul.item.trigger('dropCard', ul.item.index());
    }
  });
  $( ".cards" ).disableSelection();
});
</script>

<div class="list-item-title">
  <%= listItem.escape('title') %> <button class="list-delete-button delete btn btn-danger pull-right">X</button>
</div>





<ul class="cards"></ul>

<div class="card-form-holder">
  <div class="show-button">Add a Card...</div>
  <div class="card-form" style="display: none;"></div>
  <div class="hide-button" style="display: none;">Close</div>
</div>
