<script>
  $(function() {
    $('.board-list-items').sortable({
      stop: function(event, ui) {
           ui.item.trigger('drop', ui.item.index());
       }
    });
    $('.board-list-items').disableSelection();

  });
</script>

<div class="board-show-title"><%= board.escape('title') %></div>
<br>

<% var boardCount = board.lists().length %>

<% if (boardCount === 0) { %>
  No lists yet!
<% } else { %>
  <ul class="board-list-items"></ul>
<% } %>

<div class="errors"></div>
<div class="board-list-form"></div>

<br>

<a href="#boards">Back to Board Index</a>
