<div class="greyed">
  <div class="confirm-delete">
    Are you sure you would like to delete this board?
    <button class="board-delete-confirm">Yes</button>
    <button class="board-delete-cancel">Cancel</button>
  </div>
</div>
